<!--contact start-->
<div class="container">
  <section class="get-in-touch">
    <h1 class="title">iletisime gec</h1>
    <form class="contact-form row">
       <div class="form-field col-lg-6">
          <input id="name" class="input-text js-input" type="text" required>
          <label class="label" for="name">Adınız</label>
       </div>
       <div class="form-field col-lg-6">
          <input id="email" class="input-text js-input" type="email" required>
          <label class="label" for="email">E-mail</label>
       </div>
       <div class="form-field col-lg-12">
          <input id="message" class="input-text js-input" type="text" required>
          <label class="label" for="message">Mesaj</label>
       </div>
       <div class="form-field col align-center">
          <input class="submit-btn" type="submit" value="Gönder">
       </div>
    </form>
  </section>
</div>
<!--contact finish-->